<div class="container">
    <div class="row">
        <div class="col">
            <form action="/search" method="get">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" placeholder="i.e. Singapore" name="city">
                    <button type="submit" class="btn btn-primary">Go!</button>
                </div>
            </form>
        </div>
    </div>
</div>

